
@font-face {
	font-family: 'BoschSans';
	src: url("./bosch-sans_light.eot");
	src: url("./bosch-sans_light.eot?#iefix") format("embedded-opentype"),
	url("./bosch-sans_light.svg") format("svg"),
	url("./bosch-sans_light.ttf") format("truetype"),
	url("./bosch-sans_light.woff") format("woff"),
	url("./bosch-sans_light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}