@import url(./__arrow/slider__arrow.css);
@import url(./__item/slider__item.css);
@import url(./__items/slider__items.css);

.slider{
    height:400px;
    position:relative;
    width:800px;
    margin:0 auto;
}